XTerm.termName: xterm-256color

XTerm.vt100.locale: false
XTerm.vt100.utf8: true

XTerm.vt100.metaSendsEscape: true

XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

XTerm.vt100.reverseVideo: true
